body {
  padding:20px;
  margin:0.1in;
  color: black;
  background-color: Oldlace;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 1px 5px darkgrey;
  border-radius: 20px;
}

h2 {
  font-size: 3rem;
  text-align: left;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  line-height: 1.5;
}
