body {
  padding:20px;
  margin:0.1in;
  color: black;
  background-color: Oldlace;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 1px 5px darkgrey;
  border-radius: 20px;
}

h2 {
  font-size: 3rem;
  text-align: left;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  line-height: 1.5;
}

.flex {
  /* basic styling */
  width: 1150px;
  height: 250px;
  border: 1px solid #555;
  font: 14px Arial;

  /* flexbox setup */
  display: flex;
  flex-direction: row;
}

.flex > div {
  flex: 1 1 auto;
  width: 30px; /* To make the transition work nicely. (Transitions to/from
                "width:auto" are buggy in Gecko and Webkit, at least.
                See http://bugzil.la/731886 for more info.) */
                transition: width 0.7s ease-out;
}

/* colors */
.flex > div:nth-child(1){ background: #00FFFF; }
.flex > div:nth-child(2){ background: #00FFFF; }
.flex > div:nth-child(3){ background: #00FFFF; }
.flex > div:nth-child(4){ background: #00FFFF; }
.flex > div:nth-child(5){ background: #00FFFF; }
.flex > div:nth-child(6){ background: #00FFFF; }
.flex > div:nth-child(7){ background: #00FFFF; }

.flex > div:hover {
  width: 200px;
}

section {
  font-size: 22px;
  text-align: justify;
}
